.editor {
  &-text-bold {
    font-weight: bold;
  }

  &-text-italic {
    font-style: italic;
  }

  &-text-strikethrough {
    text-decoration: line-through;
  }

  &-text-underline {
    text-decoration: underline;
  }

  &-text-underlineStrikethrough {
    text-decoration: underline line-through;
  }
}
