& > .editor {
    .editbox {
        .toolbar {
            display: flex;
            border-radius: 0.3em 0.3em 0 0;
            background-color: #e7ecee;
            .icon-btn {
                appearance: none;
                font-size: 1.5em;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                color: #000;
                background-color: #babdbe00;
                transition: background-color 0.16s, color 0.16s;
                margin: 0.2rem;
                margin-right: 0;
                padding: 0;
                border: 0;
                border-radius: 0.15rem;
                position: relative;
                &.svg-icons {
                    & > svg {
                        position: absolute;
                        width: 1.3rem;
                        height: 1.3rem;
                        left: 0.35rem;
                        top: 0.35rem;
                        fill: #000;
                        transition: fill 0.16s;
                    }
                    &:focus {
                        & > svg {
                            fill: #fff;
                        }
                    }
                }
                &:hover {
                    background-color: #babdbe;
                }
                &:focus, &.focus {
                    outline: none;
                    background-color: #797979;
                    color: #fff;
                }
            }
            @import './editor/panel.scss';
        }
        #content {
            background-color: #222;
            color: #fff;
            padding: 0.5em 0.8em;
            line-height: 1.6em;
            border-radius: 0 0 0.3em 0.3em;
        }
    }
}
