& > .editor {
    .editbox {
        .toolbar {
            display: flex;
            border-radius: 0.3em 0.3em 0 0;
            background-color: #cfd8dc;
            .icon-btn {
                appearance: none;
                font-size: 1.5em;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                background-color: #babdbe00;
                transition: background-color 0.16s, color 0.16s;
                margin: 0.2rem;
                margin-right: 0;
                padding: 0;
                border: 0;
                border-radius: 0.15rem;
                &:hover {
                    background-color: #babdbe;
                }
                &:focus {
                    outline: none;
                    background-color: #797979;
                    color: #fff;
                }
                &#color:after {
                    content: " ";
                    width: 0.7em;
                    height: 0.7em;
                    border-radius: 50%;
                    background-color: #fff;
                    position: absolute;
                    transform: translate3d(-50%, -50%, 0);
                    border: 2.5px solid #000;
                }
            }
            .color-panel {
                position: absolute;
                background-color: #cfd8dc;
                padding: 0.4em;
                padding-top: 0;
                border-radius: 0 0 0.3em 0.3em;
                width: 208px;
                .color-btn {
                    appearance: none;
                    border: 0;
                    width: 1.5em;
                    height: 1.5em;
                    margin: 1px;
                    float: left;
                    &[data-color="0"] { background-color: #000000 }
                    &[data-color="1"] { background-color: #0000aa }
                    &[data-color="2"] { background-color: #00aa00 }
                    &[data-color="3"] { background-color: #00aaaa }
                    &[data-color="4"] { background-color: #aa0000 }
                    &[data-color="5"] { background-color: #aa00aa }
                    &[data-color="6"] { background-color: #ffaa00 }
                    &[data-color="7"] { background-color: #aaaaaa }
                    &[data-color="8"] { background-color: #555555 }
                    &[data-color="9"] { background-color: #5555ff }
                    &[data-color="10"] { background-color: #55ff55 }
                    &[data-color="11"] { background-color: #55ffff }
                    &[data-color="12"] { background-color: #ff5555 }
                    &[data-color="13"] { background-color: #ff55ff }
                    &[data-color="14"] { background-color: #ffff55 }
                    &[data-color="15"] { background-color: #ffffff }
                }
            }
        }
        #content {
            background-color: #222;
            color: #fff;
            padding: 0.4em 0.8em;
            line-height: 1.8em;
            border-radius: 0 0 0.3em 0.3em;
        }
    }
}
