#modal-cover, #modal-closer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    user-select: none;
}

#modal-cover {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

#modal-closer {
    z-index: 2000;
}

.tip-box {
    display: none;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.76);
    color: #fff;
    position: absolute;
    font-size: 0.875rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border-radius: 0.3rem;
    text-align: center;
    padding: 0 0.4rem;
    &:before {
        content: ' ';
        pointer-events: none;
        width: 0px;
        font-size: 1px;
        border-top: 0.4rem solid transparent;
        border-left: 0.4rem solid transparent;
        border-right: 0.4rem solid transparent;
        border-bottom: 0.4rem solid rgba(0, 0, 0, 0.76);
        position: absolute;
        top: -0.8rem;
        left: 50%;
        transform: translateX(-50%);
    }
}